*.pyc
.*

site

slides/*.aux
slides/*.log
slides/*.nav
slides/*.out
slides/*.pdf
slides/*.snm
slides/*.gz
slides/*.toc
slides/*.vrb

docs/*.aux
docs/*.log
docs/*.nav
docs/*.out
docs/*.pdf
docs/*.snm
docs/*.gz
docs/*.toc
docs/*.vrb
